<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.css" />
    <title>SISCOVID-19</title>
  </head>
  <body>
    {{! Navbar  }}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/">SISCOVID-19</a>
        <a href="/login" class="btn btn-outline-light my-2 my-sm-0">Login</a>
      </div>
    </nav>
    {{! Jumbotron }}
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Selamat datang di SISCOVID-19</h1>
        <p class="lead">
          Sistem Vaksinasi dan Informasi Covid-19 (SISCOVID-19) adalah sebuah
          website untuk menyediakan layanan iformasi mengenai data Covid-19 di
          seluruh Indonesia juga data per daerah. SISCOVID-19 juga menyediakan
          layanan untuk masyarakat melakukan vaksinasi dengan cara Login atau
          melakukan Regitrasi.
        </p>
        <a
          class="btn btn-outline-primary mt-3"
          href="/register"
          role="button"
        >Daftar vaksinasi</a>
      </div>
    </div>
    {{!-- Data covid-19 --}}
    <div class="jumbotron" style="background-color: white;">
        <center>
            <div class="container">
                <h3>Data covid</h3>
                <p>{{error}}</p>
                <p>Negara : <b>{{data.name}}</b> | Positif : <b>{{data.positif}}</b> Sembuh : <b>{{data.sembuh}}</b> | Meninggal : <b>{{data.meninggal}}</b> | Dirawat : <b>{{data.dirawat}}</b></p>
            </div>
        </center>
    </div>
    {{!-- Table rumah sakit rujukan --}}
    <div class="jumbotron">
        <center>
            <div class="container">
                <h3>Rumah Sakit Rujukan</h3>
                <table class="table" id="mytable">
                <thead>
                    <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Capital</th>
                    <th scope="col">Region</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Provinsi</th>
                    </tr>
                </thead>
                <tbody>
                {{#each data}}
                        <tr>
                            <td>{{name}}</td>
                            <td>{{address}}</td>
                            <td>{{region}}</td>
                            <td>{{phone}}</td>
                            <td>{{province}}</td>
                        </tr>
                {{/each}}
                </tbody>
                </table>
            </div>
        </center>
    </div>
    
    <div style="background-color: black; margin:auto;padding:30px; color: white">
        <center>
            <p>PRG - Febi Arifin &copy 2021</p>
        </center>
    </div>
    
  </body>
  <script src="/assets/js/jquery-3.3.1.js"></script>
  <script src="/assets/js/bootstrap.js"></script>
  <script>
      
  </script>
</html>